p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h1{
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color:rgb(85, 85, 85);
    width: 100%;
    overflow-x: hidden;
    margin: 10px;
}

.container{
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        gap: 5px;
    }
}

main{
    flex: 1;
}

aside{
    width: 200px;
    flex-shrink: 0;
    margin-right: 15px;
}

@media (max-width: 768px){
    aside{
        width: 95.2%;
    }
}

.header_flex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(223, 223, 196);
    border-radius: 10px;
    padding: 5px;
    margin-right: 15px;
    img{
        width: 6%;
        height: auto;
        border-radius: 5px;
    }
}

@media (max-width: 768px){
    .header_flex{
        width: 97.6%;
        margin-left: 0;
        justify-content: center;
        img{
            width: 15%;
        }
    }
}

nav{
    background-color: rgb(223, 223, 196);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 15px;
    a:link{
        text-decoration: none;
    }
}

@media (max-width: 768px){
    nav{
        width: 97.6%;
    }
}

.paragrafoNav_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.sobreMim_section{
    background-color:rgb(223, 223, 196);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.habilidades_section{
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 223, 196);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    p{
        margin-top: 26px;
        margin-left: 15px;
    }
}

.projetos_section{
    display: flex;
    background-color: rgb(223, 223, 196);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.projeto_calc_kanban{
    display: flex;    
    flex-direction: row;
}

.calculadora{
    width: 500px;
    flex-shrink: 0;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    padding: 10px;
    margin-right: 80px;
    margin-left: 80px;
    h3{
        color: white;
    }
    p{
        color: white;
    }
}

.kanban{
    width: 702px;
    flex-shrink: 0;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    padding: 10px;
    h3{
        color: white;
    }
    p{
        color: white;
    }
}

.calculadora img{
    height: auto;
    vertical-align: middle;
    width: 50%;
}

.kanban img{ 
    vertical-align: middle;
    height: auto;
    width: 90%;
}

@media (max-width: 768px){
    .projetos_section{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
   
    .projeto_calc_kanban{
        flex-direction: column;
        width: 100%;
        padding: 0 10px auto;
    }
    .calculadora, .kanban{
        width: 100%;
        margin-right: 0;
    }
    .calculadora{
        margin: 0 auto 20px auto;
        max-width: 300px;

    }

    .kanban{
        max-width: 350px;
        margin: 0 auto;
    }

    .calculadora img{
        width: 100%;
        height: auto;
    }

    .kanban img{
        width: 100%;
        height: auto;
    }
}

.aside_flex{
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 223, 196);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    a:link{
        text-decoration: none;
    }
}

.paiGitLink{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gitImg img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    flex-shrink: 0;
}

.linkImg img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    flex-shrink: 0;
}

footer{
    p{
        color: white;
    }
}